<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="consumer.environment.deleteOnUnregister" value="true"/>
  <add key="consumer.environment.sharedSecret" value="SecretDem0"/>
  <add key="consumer.environment.url" value="http://localhost:62921/api/environments/environment"/>
  <add key="consumer.environment.template.applicationKey" value="Sif3DemoApp"/>
  <add key="consumer.environment.template.authenticationMethod" value="Basic"/>
  <add key="consumer.environment.template.consumerName" value="DemoConsumer"/>
  <add key="consumer.environment.template.supportedDataModel" value="SIF-AU"/>
  <add key="consumer.environment.template.supportedDataModelVersion" value="3.0"/>
  <add key="consumer.environment.template.supportedInfrastructureVersion" value="3.0"/>
  <add key="consumer.environment.template.type" value="DIRECT"/>
</appSettings>