<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="sifFramework" type="Sif.Framework.Model.Settings.SifFrameworkSectionGroup, Sif.Framework">
      <section name="provider" type="Sif.Framework.Model.Settings.ProviderSection, Sif.Framework" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="provider.environment.deleteOnUnregister" value="true"/>
    <add key="provider.environment.sharedSecret" value="SecretDem0"/>

    <!-- Settings to be used in the demo DIRECT environment for testing the Consumer. -->
    <add key="provider.environmentType" value="DIRECT"/>
    <add key="provider.environment.url" value="http://localhost:62921/api/environments/environment"/>
    <!-- Settings to be used in the demo BROKERED environment for testing the Event Consumer. -->
    <!--add key="provider.environmentType" value="BROKERED"/-->
    <!--add key="provider.environment.url" value="http://localhost:59586/api/environments/environment"/-->

    <add key="provider.environment.template.applicationKey" value="Sif3DemoProvider"/>
    <add key="provider.environment.template.authenticationMethod" value="Basic"/>
    <add key="provider.environment.template.consumerName" value="DemoProvider"/>
    <add key="provider.environment.template.dataModelNamespace" value="http://www.sifassociation.org/datamodel/au/3.4"/>
    <add key="provider.environment.template.solutionId" value="Sif3Framework"/>
    <add key="provider.environment.template.supportedInfrastructureVersion" value="3.2.1"/>
  </appSettings>
  <sifFramework>
    <provider>
      <sessions>
      </sessions>
    </provider>
  </sifFramework>
</configuration>
