<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3.Runtime" version="3.5.1" targetFramework="net461" />
  <package id="AutoMapper" version="7.0.1" targetFramework="net461" />
  <package id="Iesi.Collections" version="4.0.4" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net461" />
  <package id="Microsoft.Net.Compilers" version="2.9.0" targetFramework="net461" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="NHibernate" version="5.1.3" targetFramework="net461" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net461" />
  <package id="Remotion.Linq.EagerFetching" version="2.2.0" targetFramework="net461" />
  <package id="Sif.Framework" version="3.2.1.11" targetFramework="net461" />
  <package id="Sif.Specification.DataModel.Au" version="3.4.4" targetFramework="net461" />
  <package id="Sif.Specification.Infrastructure" version="3.2.1" targetFramework="net461" />
  <package id="slf4net" version="0.1.32.1" targetFramework="net45" />
  <package id="slf4net.log4net" version="0.1.32.1" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.109.2" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>