<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="sifFramework" type="Sif.Framework.Model.Settings.SifFrameworkSectionGroup, Sif.Framework">
      <section name="provider" type="Sif.Framework.Model.Settings.ProviderSection, Sif.Framework" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="provider.environmentType" value="DIRECT"/>
    <add key="provider.environment.deleteOnUnregister" value="true"/>
    <add key="provider.environment.sharedSecret" value="SecretDem0"/>
    <add key="provider.environment.url" value="http://localhost:59586/api/environments/environment"/>
    <add key="provider.environment.template.applicationKey" value="Sif3DemoBroker"/>
    <add key="provider.environment.template.authenticationMethod" value="Basic"/>
    <add key="provider.environment.template.consumerName" value="DemoBroker"/>
    <add key="provider.environment.template.dataModelNamespace" value="http://www.sifassociation.org/datamodel/au/3.4"/>
    <!--add key="consumer.environment.template.instanceId" value="XXX"/-->
    <add key="consumer.environment.template.solutionId" value="Sif3Framework"/>
    <add key="provider.environment.template.supportedInfrastructureVersion" value="3.2"/>
    <!--add key="consumer.environment.template.userToken" value="XXX"/-->
  </appSettings>
  <sifFramework>
    <provider>
      <sessions>
      </sessions>
    </provider>
  </sifFramework>
</configuration>
