<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="sifFramework" type="Sif.Framework.Model.Settings.SifFrameworkSectionGroup, Sif.Framework">
      <section name="consumer" type="Sif.Framework.Model.Settings.ConsumerSection, Sif.Framework" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- Settings used to register this Consumer with the HITS EnvironmentProvider. -->
    <add key="consumer.environment.deleteOnUnregister" value="false"/>
    <add key="consumer.environment.sharedSecret" value="9b42738b5999484eb750b34a36357c74"/>
    <add key="consumer.environment.url" value="http://hits.nsip.edu.au/SIF3InfraREST/hits/environments/environment"/>
    <add key="consumer.environment.template.applicationKey" value="9b42738b5999484eb750b34a36357c74"/>
    <add key="consumer.environment.template.authenticationMethod" value="Basic"/>
    <add key="consumer.environment.template.consumerName" value=""/>
    <add key="consumer.environment.template.dataModelNamespace" value="http://www.sifassociation.org/datamodel/au/3.4"/>
    <add key="consumer.environment.template.solutionId" value="HITS"/>
    <add key="consumer.environment.template.supportedInfrastructureVersion" value="3.2"/>
    <add key="consumer.environment.template.userToken" value="9b42738b5999484eb750b34a36357c74"/>
    <add key="consumer.paging.navigationPageSize" value="5"/>
    <add key="consumer.payload.compress" value="false"/>
  </appSettings>
  <sifFramework>
    <consumer>
      <sessions>
        <!-- Pre-defined authorisation values required for Consumer requests where an Environment in HITS already exists. -->
        <session applicationKey="9b42738b5999484eb750b34a36357c74" environmentUrl="http://hits.nsip.edu.au/SIF3InfraREST/hits/environments/2cc9ca81-e8c7-4af2-90b5-7bd55697ed6a"
          sessionToken="7f320d7b-9703-4658-9719-f1c7a1806723" solutionId="HITS" userToken="9b42738b5999484eb750b34a36357c74" />
      </sessions>
    </consumer>
  </sifFramework>
</configuration>