<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="sifFramework" type="Sif.Framework.Model.Settings.SifFrameworkSectionGroup, Sif.Framework">
      <section name="consumer" type="Sif.Framework.Model.Settings.ConsumerSection, Sif.Framework" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="consumer.environment.deleteOnUnregister" value="false"/>
    <add key="consumer.environment.sharedSecret" value="QueueTest1"/>
    <add key="consumer.environment.url" value="https://australia.hostedzone.com/svcs/systemicDemo/environments/environment"/>
    <add key="consumer.environment.template.applicationKey" value="9b42738b5999484eb750b34a36357c74"/>
    <add key="consumer.environment.template.authenticationMethod" value="SIF_HMACSHA256"/>
    <add key="consumer.environment.template.consumerName" value=""/>
    <add key="consumer.environment.template.dataModelNamespace" value="http://www.sifassociation.org/datamodel/au/3.4"/>
    <!--add key="consumer.environment.template.solutionId" value="XXX"/-->
    <add key="consumer.environment.template.supportedInfrastructureVersion" value="3.2"/>
    <!--add key="consumer.environment.template.userToken" value="XXX"/-->
    <add key="consumer.paging.navigationPageSize" value="5"/>
    <add key="consumer.payload.compress" value="false"/>
  </appSettings>
  <sifFramework>
    <consumer>
      <sessions>
        <session applicationKey="9b42738b5999484eb750b34a36357c74" environmentUrl="https://australia.hostedzone.com/svcs/systemicDemo/environments/acc75216-9ff8-4d4f-93c8-de100c63aa72"
          sessionToken="c743ce4c-8826-42ef-bcf0-1504980027cd" />
      </sessions>
    </consumer>
  </sifFramework>
</configuration>