<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="sifFramework" type="Sif.Framework.Model.Settings.SifFrameworkSectionGroup, Sif.Framework">
      <section name="consumer" type="Sif.Framework.Model.Settings.ConsumerSection, Sif.Framework" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="consumer.environment.deleteOnUnregister" value="true"/>
    <add key="consumer.environment.sharedSecret" value="XXX"/>
    <add key="consumer.environment.url" value="http://localhost:62921/api/environments/environment"/>
    <add key="consumer.environment.template.applicationKey" value="XXX"/>
    <add key="consumer.environment.template.authenticationMethod" value="Basic"/>
    <add key="consumer.environment.template.consumerName" value="DemoConsumer"/>
    <add key="consumer.environment.template.dataModelNamespace" value="http://www.sifassociation.org/datamodel/au/3.4"/>
    <add key="consumer.environment.template.instanceId" value="XXX"/>
    <add key="consumer.environment.template.solutionId" value="XXX"/>
    <add key="consumer.environment.template.supportedInfrastructureVersion" value="3.2.1"/>
    <add key="consumer.environment.template.userToken" value="XXX"/>
    <add key="consumer.paging.navigationPageSize" value="5"/>
    <add key="consumer.payload.accept" value="XML"/>
    <add key="consumer.payload.compress" value="false"/>
    <add key="consumer.payload.contentType" value="XML"/>
  </appSettings>
  <sifFramework>
    <consumer>
      <sessions>
      </sessions>
    </consumer>
  </sifFramework>
</configuration>
