<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="sifFramework" type="Sif.Framework.Model.Settings.SifFrameworkSectionGroup, Sif.Framework">
      <section name="provider" type="Sif.Framework.Model.Settings.ProviderSection, Sif.Framework" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="provider.environmentType" value="DIRECT"/>
    <add key="provider.environment.deleteOnUnregister" value="true"/>
    <add key="provider.environment.sharedSecret" value="XXX"/>
    <add key="provider.environment.url" value="http://localhost:62921/api/environments/environment"/>
    <add key="provider.environment.template.applicationKey" value="XXX"/>
    <add key="provider.environment.template.authenticationMethod" value="Basic"/>
    <add key="provider.environment.template.consumerName" value="DemoProvider"/>
    <add key="provider.environment.template.dataModelNamespace" value="http://www.sifassociation.org/datamodel/au/3.4"/>
    <add key="provider.environment.template.instanceId" value="XXX"/>
    <add key="provider.environment.template.solutionId" value="XXX"/>
    <add key="provider.environment.template.supportedInfrastructureVersion" value="3.2.1"/>
    <add key="provider.environment.template.userToken" value="XXX"/>
    <!-- Applicable for SIF Events. -->
    <add key="provider.payload.accept" value="XML"/>
    <add key="provider.payload.contentType" value="XML"/>
  </appSettings>
  <sifFramework>
    <provider>
      <sessions>
      </sessions>
    </provider>
  </sifFramework>
</configuration>
